.footer {
  background-color: #222;
  color: #fff;
  padding: 5px 2rem;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.footer-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company-info,
.contact-info,
.quick-links {
  flex: 1;
  margin: 1rem 0;
  min-width: 14rem;
}

.footer-logo {
  width: 8rem;
  margin-bottom: 1rem;
 
  
}

.social-icons {
  display: flex;
  gap: 0.625rem;
  margin-top: 1rem;
}

.social-icons .iconn {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons .icon:hover {
  color: #007bff;
}

.contact-info h3,
.quick-links h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.contact-info p {
  margin-top: 0.5rem;
}

.footer_email {
  text-decoration: none;
  color: inherit;
}

.footer_email:hover {
  text-decoration: underline;
}

.phone_footer {
  text-decoration: none;
  color: inherit;
}

.phone_footer:hover {
  color: #0056b3;
}
.quick-links{
  margin: 10px;
}
.quick-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quick-links ul li {
  margin-bottom: 0.5rem;
}

.quick-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.quick-links ul li a:hover {
  color: #007bff;
}

.scroll-to-top {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem;
  }

  .footer-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .company-info,
  .contact-info,
  .quick-links {
    margin: 1rem 0;
    text-align: left;
  }

  .social-icons {
    justify-content: flex-start;
  }

  .footer-logo {
    margin: 0 auto 1rem;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 0.875rem;
  }

  .scroll-to-top {
    bottom: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
  }
}
