@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

body.open .body,
body.open .about,
body.open .map-container,
body.open .job-list,
body.open .imgo {
    margin-top: 240px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.75rem;
    background-color: white;
    padding: 0 1.25rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 5rem;
    position: relative;
}

.nav-list ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.nav-list ul li {
    font-size: 1.25rem;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    color: red;
    transition: color 0.3s ease-in-out;
}

.nav-list ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 1.875rem;
    height: 1.5625rem;
    cursor: pointer;
}

.hamburger div {
    width: 100%;
    height: 0.1875rem;
    background: #B4121B;
    border-radius: 0.3125rem;
}

.nav-list.responsive {
    padding: 10px;
}

.nav-list ul.responsive {
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 3.75rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: none;
    text-align: center;
    z-index: 999;
}

.nav-list ul.responsive li {
    padding: 0.75rem 1.25rem;
    font-size: 1.125rem;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    text-align: left;
    color: #fff;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.nav-list ul.responsive li:hover {
    color: #B4121B;
    font-size: 1.25rem;
}

.nav-list ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.175rem;
    background-color: #B4121B;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav-list ul li:hover::after {
    width: 100%;
}

.nav-list ul li a.active {
    color: #000000;
    font-weight: bold;
    
}

.nav-list ul li a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 0.175rem;
    background-color: #B4121B;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
    .heading {
        justify-content: space-between;
        position: relative;
    }

    .nav-list ul {
        display: none;
        gap: 0;
    }
    .nav-list ul li a.active::after{
        background-color: #000000;
        width: 90%;
    }

    .about {
        padding: 0;
    }

    .nav-list ul.responsive {
        display: flex;
    }
}

.body.menu-open {
    margin-top: 18.75rem;
}
