/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Ensure the page takes up full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Full height for the root container */
}

/* Main content area */
.main-content {
  flex: 1; /* Pushes the footer to the bottom */
}



/* .nav-list ul li{
  padding: 0.75rem 1.25rem; 
  border-bottom: 2px solid white; 
  text-align: left; 
} */